:root {
  --color-primary: #004976;
  --color-secondary: #b93815;
  --color-primary-emphasis: #003456;
  --color-secondary-emphasis: #ef6820;
  --color-lightprimary: #9cb3c8;
  --color-lightsecondary: #f9dbaf;
  --color-info: #46caeb;
  --color-success: #36c76c;
  --color-warning: #ffb900;
  --color-error: #ff6692;
  --color-lightsuccess: #d7f4e2;
  --color-lighterror: #ff669230;
  --color-lightinfo: #46caeb25;
  --color-lightwarning: #ffb90025;
  --color-white: #fff;
  --color-dark: #222;
  --color-border: #e0e6eb;
  --color-bordergray: #cfd6db;
  --color-link: #004976;
  --color-muted: #eff4fa;
  --color-darklink: #7b8893;
  --color-lightgray: #f4f7fb;
}
